/*

  STYLES

  Add custom styles here.

*/

/*
RESET
*/
cite {
	font-style: normal;
}

abbr {
	text-decoration-style: dotted;
}



/*
FOOTNOTES
*/
.footnotes {
	border-top-style: dashed;
	border-width: .25rem;
	border-color: var(--black-10);

	padding-top: var(--spacing-small);
	margin-top: var(--spacing-extra-large);

	font-size: 1rem;
}

	.reversefootnote,
	.footnote {
		color: var(--light-purple);
	}

	.reversefootnote {
		font-size: .875rem;
	}

.reversefootnote,
.footnote {
	opacity: 1;
	transition: opacity .15s ease-in;
}
.reversefootnote:hover,
.footnote:hover,
.reversefootnote:focus,
.footnote:focus {
	opacity: .5;
	transition: opacity .15s ease-in;
}
.reversefootnote:active,
.footnote:active {
	opacity: .8; transition: opacity .15s ease-out;
}

.table {
	font-size: 0.875rem;

	border-collapse: collapse;
	border-spacing: 0;
}

	.table tr {
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}

	.table th,
	.table tbody td {
		padding-bottom: var(--spacing-medium);
		padding-right: var(--spacing-medium);
	}

	.table th {
		font-weight: 600;

		padding-right: var(--spacing-medium);
	}

	.table tbody {
		line-height: 1.5;
	}

	.table tbody td {
		padding-top: var(--spacing-medium);
	}
