/*

  STYLES

  Add custom styles here.

*/

/*
RESET
*/
cite {
	font-style: normal;
}

abbr {
	text-decoration-style: dotted;
}



/*
FOOTNOTES
*/
.footnotes {
	border-top-style: dashed;
	border-width: .25rem;
	border-color: var(--black-10);

	padding-top: var(--spacing-small);
	margin-top: var(--spacing-extra-large);

	font-size: 1rem;
}

	.reversefootnote,
	.footnote {
		color: var(--light-purple);
	}

.reversefootnote,
.footnote {
	opacity: 1;
	transition: opacity .15s ease-in;
}
.reversefootnote:hover,
.footnote:hover,
.reversefootnote:focus,
.footnote:focus {
	opacity: .5;
	transition: opacity .15s ease-in;
}
.reversefootnote:active,
.footnote:active {
	opacity: .8; transition: opacity .15s ease-out;
}
