---
layout: study
title: Hit and Miss
---

<header class="ph4 pv1 nl4 nr4 mt4 mb4 bg-white-70 bt bb b--black-05 b--dotted bl-0 br-0 mw7 br-ns">
	<h1 class="f2">Reading notes</h1>
</header>

<ul class="list pl0 w-50-ns mw6">
	{% assign sorted_books = (site.books | sort: 'date') | reverse %}
	{% for book in sorted_books %}
		{% assign book_item_classes = 'b--black-20 pb2' %}
		{% if forloop.last != true %}
			{% assign book_item_classes = book_item_classes | append: ' bw1 bb' %}
		{% endif %}
		<li class="{{ book_item_classes }}">
			<h2 class="f4 mb0 lh-title"><a class="link dim light-purple" href="{{ book.url }}">{{ book.title }}</a></h2>
			<p class="f6 black-70 mt2">by {{ book.author }}</p>
		</li>
	{% endfor %}
</ul>
