@import '_css/_vars.css';
@import '_css/_typography.css';
@import '_css/_links.css';
@import '_css/_lists.css';
@import '_css/_images.css';
@import '_css/_misc.css';

html {
	height: 100%;
}

hr {
	max-width: 30em;
	position: relative;
	border: 0;

	margin: 0;
	padding: var(--spacing-extra-large) 0;
}

	hr:after {
		border: 0.125rem solid rgba(0,0,0,0.1);
		content: '';
		width: 40%;
		font-size: 0;
		position: absolute;
		left: 30%;
	}

.text-container {
	background-color: var(--c-white);
	opacity: 0.9;

	padding: var(--spacing-medium);
}

.link-list--spaced a {
	margin-right: var(--spacing-small);
}

.page {
	background-color: var(--c-near-white);

	display: grid;
	grid-template-rows: auto auto 1fr;

	min-height: 100%;
}

	.page__header {
		padding: var(--spacing-medium) var(--spacing-medium);
	}

	.page__intro,
	.page__content h1 {
		margin-top: 0;
		margin-bottom: var(--spacing-small);
	}

	.page__footer {

		grid-row-start: 3;
		grid-row-end: 4;
	}

.masthead {
	display: grid;

	grid-template-columns: 1fr;
	grid-gap: var(--spacing-extra-small);
}

	.masthead__title,
	.masthead__title a {
		margin: 0;

		font-size: var(--fz-4);
		font-weight: 400;

		color: var(--c-black);

		text-decoration: none;
	}

		.masthead__title a:hover {
			text-decoration: underline;
			text-decoration-style: dashed;
		}

	.masthead__nav {
		font-family: var(--ff-sans);
		font-size: var(--fz-6);
	}

		@media screen and (min-width: 30em) {
			.masthead {
				grid-template-columns: auto 1fr;
				grid-gap: var(--spacing-medium);

				align-items: center;
			}
		}

.footer {
	/* background-color: rgba(var(--c-dark-purple),0.75); */
	/* color: rgba(244,244,244, 0.85); */

	padding: var(--spacing-large) var(--spacing-medium);

	font-family: var(--ff-sans);
	font-size: var(--fz-6);
}

	.footer__copyright {
		margin-top: 0;
	}

	.footer nav {
		margin-top: var(--spacing-small);
	}

		.footer nav a {
			margin-right: var(--spacing-small);
		}

	.footer a {
		/* color: rgba(244,244,244, 0.7); */
	}

		.footer a:focus {
			color: var(--c-black);
		}
