body {
	font-family: 'expo-serif-pro', Georgia, serif;
	line-height: 1.4;
}

p {
	max-width: 30em;
}

a {
	color: #5E2CA5;
}

	a:hover {
		text-decoration-style: dashed;
	}

	a:focus {
		background-color: #FFB700;
		outline: 3px solid #FFB700;
		color: #000000;

		text-decoration: none;
	}

.block-list {
	padding-left: 0;
}

	.block-list li {
		margin-bottom: 0.5rem;
	}

.page {
	padding: 1rem;
}
