<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://npmcdn.com/tachyons@4.0.0-beta.22/css/tachyons.min.css">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">

    <title>{{ page.title }}</title>
</head>
<body class="sans-serif {% block bodyClasses %}{% endblock %}">
    <header class="ph4 pv3">
        {% block header %}
            <p class="f6 fw6"><a class="link blue dim" href="{{ path_for('index') }}">The Cherkewski View</a></p>
        {% endblock %}
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer class="pa4">
        {% block footer %}
            <small class="f5">&copy; Lucas Cherkewski</small>
            {%
            set footer_links = [
            {text: "Home", href: path_for('index')},
            {text: "Colophon", href: "https://github.com/lchski/lucascherkewski.com/blob/master/README.md"}
            ]
            %}
            <ul class="list dib ph0 ml3">
                {% for footer_link in footer_links %}
                    <li class="dib ml2 f6"><a class="black-70 dim" href="{{ footer_link.href }}">{{ footer_link.text }}</a></li>
                {% endfor %}
            </ul>
        {% endblock %}
    </footer>
</body>
</html>
