<header class="ph4 pv3 cf bg-dark-gray near-white">
    <p class="fl-ns i">The Cherkewski View</p>
    <p class="fr-ns"><a class="near-white dim" href="{{ path_for('index') }}">Back to home</a></p>
</header>
