<article class="cf ph4 pv2">
    <div class="fl w-100 w-60-ns pr3">
        {% include "components/item-contents.twig" %}
    </div>
    <div class="fl w-100 w-40-ns bg-near-white pa3 lh-copy">
        {% include "components/item-relations.twig" %}
    </div>
</article>
