<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	{% set page_title = title %}
	{% if page.url != '/' %}
		{% set page_title = page_title + ' – Lucas Cherkewski' %}
	{% endif %}

    <title>{{ page_title | markdownifyInline | replace('<em>', '') | replace('</em>', '') }}</title>
	
	<title>{{ title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
	{{ content | safe }}
</body>
