<footer class="page__footer footer">
	<p class="footer__copyright">&copy; {{ page.date | date("Y") }} Lucas Cherkewski</p>
	<nav>
		<a href="/">Home</a>
		<a href="/study/">Study</a>
		<a href="/links/">Links</a>
		<a href="/contact/">Contact</a>
	</nav>
</footer>
