---
layout: study
title: Study (The Cherkewski View)
---

<header>
	<h1 class="page__intro">Study</h1>

	<p>
		This is where I write, about my reading and more, where I <a href="/study/manifesto/">cultivate ideas</a>.
		Rather than a neat list of articles, think of this as a scattered collection of notes.
		This is public thinking via the best medium: writing.
	</p>
</header>

<ul class="block-list text-item-list bordered-list">
	{% for post in site.posts %}
		<li>
			<h2><a href="{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</a></h2>
			<p>{{ post.subtitle | markdownify | remove: '<p>' | remove: '</p>' }} <span>({{ post.date | date: "%Y" }})</span></p>
		</li>
	{% endfor %}
</ul>

{% include aside-links.html %}

{% include aside-newsletter.html %}

{% include aside-rss.html %}
