{% case layout.site_section %}
	{% when 'office' %}
		{% assign colour_class = 'white-80' %}
	{% else %}
		{% assign colour_class = 'black-80' %}
{% endcase %}

<header>
	{% case page.url %}
		{% when '/' %}
			<h1 class="f3">Lucas Cherkewski</h1>
		{% else %}
			<p class="b f5 dib"><a class="{{ 'link dim ' | append: colour_class }}" href="/">Lucas Cherkewski</a><span class="f3">&nbsp;</span></p>
			<nav class="f6 dib">
				<a class="dim purple mr1" href="/office">Office</a>
				<a class="dim purple" href="/study">Study</a>
			</nav>
	{% endcase %}
</header>
