{% extends "layouts/base.twig" %}

{% block content %}
    <div class="ph4">
        <p class="lh-copy f4 measure">This is my way of organising thoughts.</p>

        {% include "components/items-list.twig" %}
    </div>
{% endblock %}
