{% extends "layouts/base.twig" %}

{% block content %}
    <div class="ph4">
        {% markdown %}
        This is my way of organising thoughts.
        {% endmarkdown %}

        {% include "components/items-list.twig" %}
    </div>
{% endblock %}
