/*

   COLOR VARIABLES

   Variables to set colors for
   color, background-color, and border-color

*/

/* variables */
:root {

  --black-90: rgba(0,0,0,.9);
  --black-80: rgba(0,0,0,.8);
  --black-70: rgba(0,0,0,.7);
  --black-60: rgba(0,0,0,.6);
  --black-50: rgba(0,0,0,.5);
  --black-40: rgba(0,0,0,.4);
  --black-30: rgba(0,0,0,.3);
  --black-20: rgba(0,0,0,.2);
  --black-10: rgba(0,0,0,.1);
  --black-05: rgba(0,0,0,.05);

  --white-90: rgba(255,255,255,.9);
  --white-80: rgba(255,255,255,.8);
  --white-70: rgba(255,255,255,.7);
  --white-60: rgba(255,255,255,.6);
  --white-50: rgba(255,255,255,.5);
  --white-40: rgba(255,255,255,.4);
  --white-30: rgba(255,255,255,.3);
  --white-20: rgba(255,255,255,.2);
  --white-10: rgba(255,255,255,.1);

  --transparent: transparent;

  --black: #000;
  --near-black: #111;
  --dark-gray:#333;
  --mid-gray:#555;
  --gray: #777;
  --silver: #999;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #f4f4f4;
  --white: #fff;

}


/*

   SKINS

*/



/* Backgrounds */

.bg-navy {    background-color: var(--navy); }
.bg-blue {    background-color: var(--blue); }
.bg-aqua {    background-color: var(--aqua); }
.bg-teal {    background-color: var(--teal); }
.bg-olive {   background-color: var(--olive); }
.bg-green {   background-color: var(--green); }
.bg-lime {    background-color: var(--lime); }
.bg-yellow {  background-color: var(--yellow); }
.bg-orange {  background-color: var(--orange); }
.bg-red {     background-color: var(--red); }
.bg-fuchsia { background-color: var(--fuchsia); }
.bg-purple {  background-color: var(--purple); }
.bg-maroon {  background-color: var(--maroon); }


/* Colors */

.navy {       color: var(--navy); }
.blue {       color: var(--blue); }
.aqua {       color: var(--aqua); }
.teal {       color: var(--teal); }
.olive {      color: var(--olive); }
.green {      color: var(--green); }
.lime {       color: var(--lime); }
.yellow {     color: var(--yellow); }
.orange {     color: var(--orange); }
.red {        color: var(--red); }
.fuchsia {    color: var(--fuchsia); }
.purple {     color: var(--purple); }
.maroon {     color: var(--maroon); }


/* Border colors
   Use with another border utility that sets border-width and style
   i.e .border { border-width: 1px); border-style: solid); }
*/

.border--navy {    border-color: var(--navy); }
.border--blue {    border-color: var(--blue); }
.border--aqua {    border-color: var(--aqua); }
.border--teal {    border-color: var(--teal); }
.border--olive {   border-color: var(--olive); }
.border--green {   border-color: var(--green); }
.border--lime {    border-color: var(--lime); }
.border--yellow {  border-color: var(--yellow); }
.border--orange {  border-color: var(--orange); }
.border--red {     border-color: var(--red); }
.border--fuchsia { border-color: var(--fuchsia); }
.border--purple {  border-color: var(--purple); }
.border--maroon {  border-color: var(--maroon); }


/* Fills for SVG */

.fill-navy {    fill: var(--navy); }
.fill-blue {    fill: var(--blue); }
.fill-aqua {    fill: var(--aqua); }
.fill-teal {    fill: var(--teal); }
.fill-olive {   fill: var(--olive); }
.fill-green {   fill: var(--green); }
.fill-lime {    fill: var(--lime); }
.fill-yellow {  fill: var(--yellow); }
.fill-orange {  fill: var(--orange); }
.fill-red {     fill: var(--red); }
.fill-fuchsia { fill: var(--fuchsia); }
.fill-purple {  fill: var(--purple); }
.fill-maroon {  fill: var(--maroon); }

/* Strokes for SVG */

.stroke-navy {    stroke: var(--navy); }
.stroke-blue {    stroke: var(--blue); }
.stroke-aqua {    stroke: var(--aqua); }
.stroke-teal {    stroke: var(--teal); }
.stroke-olive {   stroke: var(--olive); }
.stroke-green {   stroke: var(--green); }
.stroke-lime {    stroke: var(--lime); }
.stroke-yellow {  stroke: var(--yellow); }
.stroke-orange {  stroke: var(--orange); }
.stroke-red {     stroke: var(--red); }
.stroke-fuchsia { stroke: var(--fuchsia); }
.stroke-purple {  stroke: var(--purple); }
.stroke-maroon {  stroke: var(--maroon); }




/* Text colors */

.black-90 {         color: var(--black-90); }
.black-80 {         color: var(--black-80); }
.black-70 {         color: var(--black-70); }
.black-60 {         color: var(--black-60); }
.black-50 {         color: var(--black-50); }
.black-40 {         color: var(--black-40); }
.black-30 {         color: var(--black-30); }
.black-20 {         color: var(--black-20); }
.black-10 {         color: var(--black-10); }
.black-05 {         color: var(--black-05); }

.bg-black-90 {         background-color: var(--black-90); }
.bg-black-80 {         background-color: var(--black-80); }
.bg-black-70 {         background-color: var(--black-70); }
.bg-black-60 {         background-color: var(--black-60); }
.bg-black-50 {         background-color: var(--black-50); }
.bg-black-40 {         background-color: var(--black-40); }
.bg-black-30 {         background-color: var(--black-30); }
.bg-black-20 {         background-color: var(--black-20); }
.bg-black-10 {         background-color: var(--black-10); }
.bg-black-05 {         background-color: var(--black-05); }

.white-90 {         color: var(--white-90); }
.white-80 {         color: var(--white-80); }
.white-70 {         color: var(--white-70); }
.white-60 {         color: var(--white-60); }
.white-50 {         color: var(--white-50); }
.white-40 {         color: var(--white-40); }
.white-30 {         color: var(--white-30); }
.white-20 {         color: var(--white-20); }
.white-10 {         color: var(--white-10); }

.bg-white-90 {        background-color: var(--white-90); }
.bg-white-80 {        background-color: var(--white-80); }
.bg-white-70 {        background-color: var(--white-70); }
.bg-white-60 {        background-color: var(--white-60); }
.bg-white-50 {        background-color: var(--white-50); }
.bg-white-40 {        background-color: var(--white-40); }
.bg-white-30 {        background-color: var(--white-30); }
.bg-white-20 {        background-color: var(--white-20); }
.bg-white-10 {        background-color: var(--white-10); }

.black {         color: var(--black); }
.near-black {    color: var(--near-black); }
.dark-gray {     color: var(--dark-gray); }
.mid-gray {      color: var(--mid-gray); }
.gray {          color: var(--gray); }
.silver  {       color: var(--silver); }
.light-silver {  color: var(--light-silver); }
.moon-gray {     color: var(--moon-gray); }
.light-gray {    color: var(--light-gray); }
.near-white {    color: var(--near-white); }
.white {         color: var(--white); }


/* Background colors */

.bg-black {         background-color: var(--black); }
.bg-near-black {    background-color: var(--near-black); }
.bg-dark-gray {     background-color: var(--dark-gray); }
.bg-mid-gray {      background-color: var(--mid-gray); }
.bg-gray {          background-color: var(--gray); }
.bg-silver  {       background-color: var(--silver); }
.bg-light-silver {  background-color: var(--light-silver); }
.bg-moon-gray {     background-color: var(--moon-gray); }
.bg-light-gray {    background-color: var(--light-gray); }
.bg-near-white {    background-color: var(--near-white); }
.bg-white {         background-color: var(--white); }


/* Skins for specific pseudoclasses */
.focus-black:focus { color: var(--black); }
.focus-near-black:focus { color: var(--near-black); }
.focus-dark-gray:focus { color: var(--dark-gray); }
.focus-mid-gray:focus { color: var(--mid-gray); }
.focus-gray:focus { color: var(--gray); }
.focus-silver:focus { color: var(--silver); }
.focus-light-silver:focus { color: var(--light-silver); }
.focus-moon-gray:focus { color: var(--moon-gray); }
.focus-light-gray:focus { color: var(--light-gray); }
.focus-near-white:focus { color: var(--near-white); }
.focus-white:focus { color: var(--white); }

.bg-focus-black:focus { background-color: var(--black); }
.bg-focus-near-black:focus { background-color: var(--near-black); }
.bg-focus-dark-gray:focus { background-color: var(--dark-gray); }
.bg-focus-mid-gray:focus { background-color: var(--mid-gray); }
.bg-focus-gray:focus { background-color: var(--gray); }
.bg-focus-silver:focus { background-color: var(--silver); }
.bg-focus-light-silver:focus { background-color: var(--light-silver); }
.bg-focus-moon-gray:focus { background-color: var(--moon-gray); }
.bg-focus-light-gray:focus { background-color: var(--light-gray); }
.bg-focus-near-white:focus { background-color: var(--near-white); }
.bg-focus-white:focus { background-color: var(--white); }

.hover-black:hover { color: var(--black); }
.hover-near-black:hover { color: var(--near-black); }
.hover-dark-gray:hover { color: var(--dark-gray); }
.hover-mid-gray:hover { color: var(--mid-gray); }
.hover-gray:hover { color: var(--gray); }
.hover-silver:hover { color: var(--silver); }
.hover-light-silver:hover { color: var(--light-silver); }
.hover-moon-gray:hover { color: var(--moon-gray); }
.hover-light-gray:hover { color: var(--light-gray); }
.hover-near-white:hover { color: var(--near-white); }
.hover-white:hover { color: var(--white); }

.bg-hover-black:hover { background-color: var(--black); }
.bg-hover-near-black:hover { background-color: var(--near-black); }
.bg-hover-dark-gray:hover { background-color: var(--dark-gray); }
.bg-hover-mid-gray:hover { background-color: var(--mid-gray); }
.bg-hover-gray:hover { background-color: var(--gray); }
.bg-hover-silver:hover { background-color: var(--silver); }
.bg-hover-light-silver:hover { background-color: var(--light-silver); }
.bg-hover-moon-gray:hover { background-color: var(--moon-gray); }
.bg-hover-light-gray:hover { background-color: var(--light-gray); }
.bg-hover-near-white:hover { background-color: var(--near-white); }
.bg-hover-white:hover { background-color: var(--white); }
