---
layout: study
title: Links
include_sidebar: true
sidebar_type: link
---

<header>
	<h1 class="page__intro">Links</h1>

	<p>
		As an Internet Denizen™, I encounter numerous links. This is my linkblog: you get both the link <em>and</em> a bit of a blog post. What a deal!
	</p>
</header>

<ul class="block-list text-item-list spacey-list">
	{% assign sorted_links = site.links | sort: 'date' | reverse %}
	{% for link in sorted_links %}
		<li>
			<h2><a href="{{ link.link }}">{{ link.link_title | markdownify | remove: '<p>' | remove: '</p>' }}</a></h2>
			{{ link.content | markdownify }}
			<p class="meta">
				<a href="{{ link.url }}">{{ link.date | date: "%l:%S %P on %B %e, %Y" }}</a>
				{% if link.source %}
					({{ link.source | append: "\)" | markdownify | remove: "<p>" | remove: "</p>" }}
				{% endif %}
			</p>
		</li>
	{% endfor %}
</ul>
