<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://npmcdn.com/tachyons@4.0.0-beta.22/css/tachyons.min.css">

    <title>{{ page.title }}</title>
</head>
<body class="sans-serif {% block bodyClasses %}{% endblock %}">
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer class="pa4">
        {% block footer %}
            <p>&copy; Lucas Cherkewski</p>
        {% endblock %}
    </footer>
</body>
</html>
