<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://npmcdn.com/tachyons@4.0.0-beta.22/css/tachyons.min.css">

    <title>{{ page.title }}</title>
</head>
<body class="sans-serif {% block bodyClasses %}{% endblock %}">
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer class="pa4 mid-gray">
        {% block footer %}
            <small class="f5">&copy; Lucas Cherkewski</small>
            {%
            set footer_links = [
            {text: "Colophon", href: "#"},
            {text: "Home", href: "#"}
            ]
            %}
            <ul class="dib ph0 ml3">
                {% for footer_link in footer_links %}
                    <li class="dib ml2 f6"><a class="link  dim" href="{{ footer_link.href }}">{{ footer_link.text }}</a></li>
                {% endfor %}
            </ul>
        {% endblock %}
    </footer>
</body>
</html>
