/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

	.nav__list {
		margin-left: 0;
	}

		.nav__item {
			.nav--horizontal & {
				display: inline-block;

				padding-right: $pad;

				.nav--secondary & {
					padding-right: $pad;
				}
			}

			.nav--horizontal.nav--secondary & {
				padding-right: $pad-half;
			}

			&:last-of-type {
				padding-right: 0;
			}
		}

		.nav__separator {
			&:before {
				color: lighten( $colour-text-secondary, 15% );
				content: '\2022';
			}
		}

	.nav--secondary {
		@include font-size( $type-small );

		.nav__link {
			@extend .link--lighter;
		}
	}