/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/

/**
 * Display levels
 */
.u-d-n {
    display: none;
}

.u-d-b {
    display: block;
}

.u-d-ib {
    display: inline-block;
}



/**
 * Text alignment
 */
.u-ta-l {
    text-align: left;
}

.u-ta-c {
    text-align: center;
}

.u-ta-r {
    text-align: right;
}



/**
 * Floats
 */
.u-float-left {
    float: left;
}

.u-float-right {
    float: right;
}

.u-clearfix {
    @include clearfix();
}



/**
 * Margin
 */
.u-m-0.u-m-0 {
    margin: 0;
}

// margin-top
.u-mt-space {
    margin-top: $space;
}

.u-mt-space-half {
    margin-top: $space-half;
}

.u-mt-space-quarter {
    margin-top: $space-quarter;
}

// margin-bottom
.u-mb-space {
    margin-bottom: $space;
}

.u-mb-space-half {
    margin-bottom: $space-half;
}

.u-mb-space-quarter {
    margin-bottom: $space-quarter;
}

.u-mb-0.u-mb-0 {
    margin-bottom: 0;
}

// margin-left
.u-ml-space {
    margin-left: $space;
}

.u-ml-space-half {
    margin-left: $space-half;
}

.u-ml-space-quarter {
    margin-left: $space-quarter;
}

// margin-right
.u-mr-space {
    margin-right: $space;
}

.u-mr-space-half {
    margin-right: $space-half;
}

.u-mr-space-quarter {
    margin-right: $space-quarter;
}



/**
 * Padding
 */
.u-p-0.u-p-0 {
    padding: 0;
}

// padding-top
.u-pt-pad {
    padding-top: $pad;
}

.u-pt-pad-half {
    padding-top: $pad-half;
}

.u-pt-pad-quarter {
    padding-top: $pad-quarter;
}

// padding-bottom
.u-pb-pad {
    padding-bottom: $pad;
}

.u-pb-pad-half {
    padding-bottom: $pad-half;
}

.u-pb-pad-quarter {
    padding-bottom: $pad-quarter;
}

// padding-left
.u-pl-pad {
    padding-left: $pad;
}

.u-pl-pad-half {
    padding-left: $pad-half;
}

.u-pl-pad-quarter {
    padding-left: $pad-quarter;
}

// padding-right
.u-pr-pad {
    padding-right: $pad;
}

.u-pr-pad-half {
    padding-right: $pad-half;
}

.u-pr-pad-quarter {
    padding-right: $pad-quarter;
}
