/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
	color: $colour-primary-dark;

	@include text-decoration-colour( $colour-primary-dark, $colour-app-background );

	&:hover {
		@include text-decoration-colour( none);
	}

	&:active {
		position: relative;

		top: 1px;
	}
}