/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
	color: lighten( $colour-text-main, 15% );

	@include text-decoration-colour( lighten( $colour-text-main, 15% ), $colour-app-background );

	.page--dark & {
		@include text-decoration-colour( lighten( $colour-text-main, 15% ), $colour-primary-dark )
	}

	&:hover {
		color: $colour-text-main;

		@include text-decoration-colour( none );
	}

	&:active {
		position: relative;

		top: 1px;
	}
}

.link--lighter {
	color: lighten( $colour-text-secondary, 15% );

	@include text-decoration-colour( lighten( $colour-text-secondary, 15% ), $colour-app-background );

	.page--dark & {
		@include text-decoration-colour( lighten( $colour-text-secondary, 15% ), $colour-primary-dark )
	}

	&:hover {
		color: $colour-text-secondary;
	}
}