/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
    font: 500 #{($base-font-size/16px)*1em}/#{$line-height-ratio} $main-font-stack;
	color: $colour-text-main;
    padding: 0 $pad;

    background-color: $colour-app-background;
}
