a {
	color: rgb(var(--c-purple));
}

	a:hover {
		opacity: 0.7;

		text-decoration-style: dashed;
	}

	a:focus {
		background-color: var(--c-gold);
		outline: 3px solid var(--c-gold);
		color: var(--c-black);

		text-decoration: none;
	}
