ul,
ol {
	padding-left: var(--spacing-large);
}

ul li,
ol li {
	margin-top: var(--spacing-small);
}

.block-list {
	padding-left: 0;
}

	.block-list li {
		margin-bottom: var(--spacing-small);
	}

.text-item-list {
	list-style: none;
}
