@import '_vars.css';
@import '_typography.css';
@import '_links.css';
@import '_lists.css';
@import '_images.css';
@import '_misc.css';

/* https://coolors.co/202c39-283845-b8b08d-f2d492-f29559 */
/* or? https://coolors.co/1d1e18-6b8f71-aad2ba-d9fff5-b9f5d8 */
body {
    /* background: #202C39; */

    margin: 0;
}

.text-container {
    background: var(--c-near-white);
}

.main-container {
    max-width: 45em;
}

.main-container--links {
    h2 {
        font-family: var(--ff-sans);
    }

    .meta {
        font-family: var(--ff-sans);
    }
}
