/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/

/**
 * Floats
 */
.u-float-left {
    float: left;
}

.u-float-right {
    float: right;
}



/**
 * Padding
 */
.u-p-0.u-p-0 {
    padding: 0;
}

// padding-top
.u-pt-pad {
    padding-top: $pad;
}

.u-pt-pad-half {
    padding-top: $pad-half;
}

.u-pt-pad-quarter {
    padding-top: $pad-quarter;
}

// padding-bottom
.u-pb-pad {
    padding-bottom: $pad;
}

.u-pb-pad-half {
    padding-bottom: $pad-half;
}

.u-pb-pad-quarter {
    padding-bottom: $pad-quarter;
}

// padding-left
.u-pl-pad {
    padding-left: $pad;
}

.u-pl-pad-half {
    padding-left: $pad-half;
}

.u-pl-pad-quarter {
    padding-left: $pad-quarter;
}

// padding-right
.u-pr-pad {
    padding-right: $pad;
}

.u-pr-pad-half {
    padding-right: $pad-half;
}

.u-pr-pad-quarter {
    padding-right: $pad-quarter;
}
