<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

	{% assign page_title = page.title %}
	{% if page.url != '/' %}
		{% assign page_title = page_title | append: ' – Lucas Cherkewski' %}
	{% endif %}
	{% if page.collection == 'notes' %}
		{% assign page_title = page.date | date: "Note: %B %e, %Y at %l:%S %P – Lucas Cherkewski" %}
	{% endif %}

    <title>{{ page_title | markdownify | remove: '<p>' | remove: '</p>' | remove: '<em>' | remove: '</em>' }}</title>

	  <meta content="{{ site.title }}" property="og:site_name">
	{% if page.title %}
	  <meta content="{{ page.title | append: ' – Lucas Cherkewski' }}" property="og:title">
	{% else %}
	  <meta content="{{ site.title }}" property="og:title">
	{% endif %}
	{% if page.title %}
	  <meta content="article" property="og:type">
	{% else %}
	  <meta content="website" property="og:type">
	{% endif %}
	{% if page.subtitle %}
	  <meta content="{{ page.subtitle }}" property="og:description">
	{% else %}
	  <meta content="{{ site.description }}" property="og:description">
	{% endif %}
	{% if page.url %}
	  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
	{% endif %}
	{% if page.image %}
	  <meta content="{{ site.url }}/assets/img/{{ page.image }}" property="og:image">
	{% endif %}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.typekit.net/lzl8uvk.css">
    <link rel="stylesheet" href="/assets/css/main.css">

	{% if page.include_netlify_widget %}
	  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	{% endif %}

	<link rel="me" href="https://twitter.com/lchski">
	<link rel="me" href="https://github.com/lchski">
	<link rel="me" href="https://mastodon.social/@lchski">
	<link rel="me" href="mailto:lucas@lucascherkewski.com">

	<link rel="micropub" href="https://indiekit.lucascherkewski.com/micropub">
	<link rel="authorization_endpoint" href="https://indieauth.com/auth">
	<link rel="token_endpoint" href="https://indiekit.lucascherkewski.com/token">
</head>
{% case layout.site_section %}
	{% when 'office' %}
		{% assign site_section_class = 'page--office' %}
	{% when 'study' %}
		{% assign site_section_class = 'page--study' %}
	{% else %}
		{% assign site_section_class = '' %}
{% endcase %}
<body class="{{ 'page ' | append: site_section_class }}">
	{% include header.html %}

	<main class="page__content text-container">
    	{{ content }}
	</main>

	{% if layout.include_sidebar or page.include_sidebar %}
	<aside class="page__sidebar text-container">
		{% assign sidebar_type = layout.sidebar_type %}

		{% if page.sidebar_type %}
			{% assign sidebar_type = page.sidebar_type %}
		{% endif %}

		{% case sidebar_type %}
			{% when 'post-index' %}
				{% include aside-links.html %}
				{% include aside-newsletter.html %}
				{% include aside-blogroll.html %}
				{% include aside-rss-study.html %}
			{% when 'post' %}
				{% include aside-links.html %}
				{% include aside-blogroll.html %}
				{% include aside-rss-study.html %}
			{% when 'link' %}
				{% include aside-rss-links.html %}
			{% when 'newsletter-index' %}
				{% include aside-newsletterroll.html %}
				{% include aside-rss-newsletter.html %}
			{% when 'newsletter' %}
				{% include aside-newsletter.html %}
				{% include aside-newsletterroll.html %}
				{% include aside-rss-newsletter.html %}
			{% else %}

		{% endcase %}
	</aside>
	{% endif %}

	{% include footer.html %}
	{% if page.include_netlify_widget %}
	  <script>
		if (window.netlifyIdentity) {
		  window.netlifyIdentity.on("init", user => {
			if (!user) {
			  window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
			  });
			}
		  });
		}
	  </script>
	{% endif %}
</body>
</html>
