---
layout: study
site_section: study
---

<article>

	<header>
		<h1 class="f2 mb0">Hit and Miss #{{ page.number }}: {{ page.title }}</h1>
	</header>

	<div class="f3 measure lh-copy serif nested-list-item-spacing">
		{{ content }}
	</div>

	<footer class="mt4 f6">
		<p class="measure lh-copy">
			If you’d like to get <em>Hit and Miss</em> delivered to your inbox, <a class="dim light-purple" href="https://buttondown.email/lchski">please consider subscribing</a>.
			Thanks for reading!
		</p>
	</footer>

</article>
