---
layout: study
site_section: study
---

<article class="post">

	<header>
		<h1>{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
		{% if page.subtitle %}<p class="post__subtitle">{{ page.subtitle | markdownify | remove: '<p>' | remove: '</p>' }}</p>{% endif %}

		{% if page.date %}<p class="meta"><time datetime="{{ page.date }}">{{ page.date | date: "%e %B %Y" }}</time></p>{% endif %}
	</header>

	<div class="f3 measure lh-copy serif nested-list-item-spacing">
		{{ content }}
	</div>

</article>
