<ul>
  {% for link in collections.links | reverse %}
  <li>
    <h2><a href="{{ link.data.link }}">{{ link.data.link_title | markdownify | replace("<p>", "") | replace("</p>", "") }}</a></h2>
    {{ link.content | markdownify }}
    <p class="meta">
      <a href="{{ link.url }}">{{ link.date | date: "%l:%S %P on %B %e, %Y" }}</a>
      {% if link.data.source %}
        ({{ link.data.source | append: "\)" | markdownify | replace("<p>", "") | replace("</p>", "") }}
      {% endif %}
    </p>
  </li>
  {% endfor %}
</ul>