---
layout: base
title: Links
---

<ul>
  {% for link in collections.links | reverse %}
  <li>
    <h2><a href="{{ link.data.link }}">{{ link.data.link_title | markdownifyInline | safe }}</a></h2>
    {{ link.templateContent | safe }}
    <p class="meta">
      <a href="{{ link.url }}">{{ link.date | date("h:mm a on MMMM D, YYYY") }}</a>
      {% if link.data.source %}
        {% set link_source = link.data.source + ")" %}
        ({{ link_source | markdownifyInline | safe }}
      {% endif %}
    </p>
  </li>
  {% endfor %}
</ul>