/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.site-header {
	margin-bottom: $space;
}

	.site-header__title {
		line-height: 1;

		margin-top: $space-quad;
		margin-bottom: 0;
	}

	.site-header__link {
		color: $colour-text-main;

		@include text-decoration-colour( none );
	}

@media ( min-width: $bp-introduce-full-columns ) {
	.nav--header {
		text-align: right;
	}
}