/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

	.nav__list {
		margin-left: 0;
	}

	.nav--site {

		.nav__item {
			display: inline-block;

			padding-right: $pad;
		}
	}

	.nav--secondary {
		@include font-size( $type-small );
	}