/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

	.nav__list {
		margin-left: 0;
	}

		.nav__item {
			.nav--horizontal & {
				display: inline-block;

				padding-right: $pad;

				.nav--secondary & {
					padding-right: $pad;
				}

				&:first-of-type {
					list-style-type: none;
				}
			}

			.nav--horizontal.nav--secondary & {
				padding-right: $pad-half;
			}
		}

	.nav--secondary {
		@include font-size( $type-small );
	}