---
layout: study
title: Introducing Computers in Ontario’s Classrooms
---

<header>
	<h1 class="f2 mb0">Introducing Computers in Ontario’s Classrooms</h1>
	<p class="f5 black-70 measure-wide lh-copy">Provincial Ambitions, Teacher Preparation, and Technological Change in the 1980s</p>
</header>

<p class="f3 measure lh-copy">
	I’m conducting research into how Ontario teachers shared information in preparation for the wide-scale
	introduction of standardized educational computers in the 1980s and early 1990s.
</p>

<div class="measure">
	<hr class="w-40 mv5 bw1 ba b--black-10">
</div>

<p class="f4 measure lh-copy">
	As part of my documentation, I’m publishing relevant notes, findings, and thoughts from the research process.
	I’m slowly adding to this section, transferring previously local documents to this site. Consider this an
	incomplete record of my research process, with some parts better noted than others.
</p>

<ul class="list pl0 w-50-ns mw6">
	{% assign sorted_findings = (site.findings | sort: 'date') | reverse %}
	{% for finding in sorted_findings %}
		{% assign finding_item_classes = 'b--black-20 pb2' %}
		{% if forloop.last != true %}
			{% assign finding_item_classes = finding_item_classes | append: ' bw1 bb' %}
		{% endif %}
		<li class="{{ finding_item_classes }}">
			<h2 class="f4 mb0 lh-title"><a class="link dim light-purple" href="{{ finding.url }}">{{ finding.title }}</a></h2>
			<p class="f6 black-70 mt2">{{ finding.subtitle }} <span class="i">({{ finding.date | date: '%B ~%dth, %Y' | replace: '~0', '' | replace: '~', '' | replace: '1th', '1st' | replace: '2th', '2nd' | replace: '3th', '3rd' | replace: '11st', '11th' | replace: '12nd', '12th' | replace: '13rd', '13th' }})</span></p>
		</li>
	{% endfor %}
</ul>

<footer class="mt4 f6 black-70 w-50-ns mw6">
	<p class="lh-copy measure">
		Many thanks both to my supervisor, <a href="https://chadgaffield.com" class="dim light-purple">Chad Gaffield</a>, and
		uOttawa’s <a href="https://research.uottawa.ca/urop/undergrad-research-opportunity" class="dim light-purple">Undergraduate Research Opportunity Program</a>,
		without whom I would not be able to do this work.
	</p>
</footer>
