/*------------------------------------*\
    $IMAGES
\*------------------------------------*/

img {
	max-width: 100%;
}

.photo {
	margin: 0;
}

	.photo__caption {
		@include font-size( $type-small );
		color: $colour-text-secondary;
	}